<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col place-content-center items-center md:items-start py-16">
      <h1 class="text-6xl font-light leading-7 text-black ">Snap Notes</h1>
      <h2 class="mt-6 text-2xl font-light leading-2 text-black ">Effortlessly organize your ideas.</h2>
      <div class="mt-8">

        <%= link_to 'Get Started', new_user_registration_path , class: 'mt-8 border border-black rounded-md py-2 px-6 hover:ml-1 hover:mt-7 hover:border-b-4 hover:border-r-4' %>

      </div>
    </div>
    <div>
      <%= image_tag 'snap_notes_graphic.svg', class: 'mx-auto w-96 md:w-full py-0 md:py-16' %>
    </div>
  </div>
</div>
