<nav class="bg-whie shadow">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src=>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <button>
          Log in
        </button>
      </div>
    </div>
  </div>
</nav>
<h1>Hello world</h1>
